@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3 Assignment";
}
<!-- My name is Emma Gardner and I'm making this web application so I can practice!-->
<h1>This Is My Mission 3 Assignment Now</h1>
<img src="~/img/IMG_4342.jpg" width="600" />
<p>I hope I get an A in this class. I guess learning C#/ASP.NET would be cool to learn too.</p>
<p>#BigBoiProgramming</p>
<br />

<!--Jobs-->
<h2>Top 3 Jobs I'm Interested In</h2>
<ul>
    <li>Project Manager</li>
    <li>Data Scientist</li>
    <li>Developer</li>
</ul>
<br />